{% extends '../layouts/default.twig' %}
{% set head_title = 'Blank Page' %}
{% set body_class = 'flex flex-col h-full' %}
{% set menu_active = 'blank-page' %}

{% block page %}

    <div class="container flex-1 mx-auto p-8">
        <p>
            Here goes content.
        </p>
    </div>


{% endblock %}
