{% extends '../layouts/default.twig' %}
{% set head_title = 'Demo Page' %}
{% set body_class = '' %}
{% set menu_active = 'demo-page' %}

{% block page %}

  {% include '../../modules/navbar/navbar.twig' %}

  <section class="container mx-auto px-4">
  
  </section>

  {% include '../components/footer.twig' %}

  

{% endblock %}
