{% extends '../layouts/default.twig' %}
{% set head_title = 'Demo Page' %}
{% set body_class = 'flex flex-col h-full' %}
{% set menu_active = 'demo-page' %}

{% block page %}


  <section class="container flex-1 mx-auto p-8">
  
  </section>

  

{% endblock %}
