{% extends '../layouts/default.twig' %}
{% set head_title = 'Index' %}
{% set body_class = 'flex flex-col h-full' %}

{% block page %}

    {% set pages = {
    1: {
      t: "Demo Page",
      u: "demo"
    },
    2: {
      t: "Blank Page",
      u: "blank"
    },
  } %}

    <section class="justify-center flex-1 mx-auto p-8">
        <div class="max-w-m rounded overflow-hidden shadow-lg px-6 py-4">
            <h1 class="h1">
                twigkit
            </h1>
            <ul class="list-none">
                {% for page in pages %}
                    <li>
                        <a href="{{ page.u }}.html">{{ page.t }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>


{% endblock %}
