// Custom
// ------------------------

// Buttons
// ------------------------
.button {
    @apply relative;
    @apply inline-block;
    @apply py-4;
    @apply px-8;
    @apply font-bold;
    @apply text-lg;
    @apply no-underline;
    @apply text-green-500;
    @apply border-2;
    @apply border-white;
    @apply bg-white;
    @apply text-center;
    @apply cursor-pointer;

    &:before {
        display: none;
        content: "";
        position: absolute;
        top: -2px;
        right: -2px;
        bottom: -2px;
        left: -2px;
        background-color: transparent;
        transform: translate3d(-5px, 5px, -1px);
        transform-style: preserve-3d;
    }

    &:hover {
        @apply text-green-500;
        @apply shadow-button;
        transform: translate3d(5px, -5px, 0);

        &:before {
            display: block;
        }
    }
}

.button-gradient {
    @apply border-0;
    @apply bg-gradient-green;

    &:before {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    &:hover {
        @apply shadow-button-gradient;
    }
}

.button-outline {
    @apply text-green-400;
    @apply border-green-400;
    @apply bg-transparent;

    &:hover {
        @apply text-green-400;
        @apply shadow-button-outline;
    }
}


// Navigation
// ------------------------
$main-nav-duration: 0.3s;
$list-item-delay: 0.1s;
$ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
$cubic-transition-duration: 0.55s;
$cubic-transition: $cubic-transition-duration $ease-in-out-cubic;

.mobile-nav {
    opacity: 0;
    pointer-events: none;
    transition: $main-nav-duration ease-in-out 0.3s;

    &.is-active {
        opacity: 1;
        pointer-events: initial;
        transition-delay: 0s;
    }
}

.mobile-nav--main,
.mobile-nav--secondary {
    li {
        opacity: 0;
        transform: translateY(10px);
        transition: 0.15s ease-in-out;
        will-change: opacity, transform;

        .is-active & {
            opacity: 1;
            transform: translateY(0);
            transition: $cubic-transition;

            @for $num from 1 through 9 {
                &:nth-of-type(#{$num}) {
                    transition-delay: ($list-item-delay * ($num - 1)) + $main-nav-duration;
                }
            }
        }
    }
}

.mobile-nav--divider {
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: 0.15s ease-in-out;
    will-change: transform;

    .is-active & {
        transform: scaleX(1);
        transition: $cubic-transition $main-nav-duration;
    }
}
