<!doctype html>
<html class="h-full" lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="ie=edge" http-equiv="x-ua-compatible">

        <title>{{ head_title }}
            &middot; twigkit</title>

        <meta content="" name="description">
        <meta content="width=device-width, initial-scale=1" name="viewport">

        <link href="css/main.css" rel="stylesheet">
    </head>

    {% include '../components/navbar.twig' %}

    <body {% if body_class is defined and body_class is not empty %} class="{{ body_class }}" {% endif %}> {% block page %}{% endblock %}

        {% include '../components/footer.twig' %}


        <script src="js/app.js"></script>

    </body>
</html>
